@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Services Navbar styling*/
.nav-menu nav{
    background-color: #1f2937;
    padding: 10px;
    justify-content: space-around;
    display: flex;
    gap: 3rem;
}
.nav-menu nav a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
}

.nav-menu a:hover{
    background-color: #3882f6;
    border-radius: 10px;
}

.sub-nav, .services-consult, .services-dev, .services-support{
    margin: 0 120px;
}

.sub-nav{
    padding: 20px 0;
}

/* Consulting section styling*/
.services-consult{
    padding: 20px 0;
}

.services-consult p{
    width: 50%;
    margin: 10px 0;
    font-size: 18px
}

h1{
    font-size: 36px
}

.pic-des{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 5rem 0 0 10rem;
}

.pic img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #3882f6;
    box-shadow: 10px 10px 5px #3882f6;;
}

.pic-support img{
    width: 94%;
}

.des{
    width: 100%;
}

.des ul{
    display: flex;
    flex-direction: column;
}

.des ul li{
    list-style: none;
}

/* Development section styling*/
.services-dev{
}

/* Support section styling*/
.services-support{
}
